.navbar {
	width: 100%;
	padding-left: 20px;
	height: 50px;
	display: flex;
	position: relative;
	align-items: center;
	background-color: rgba(36, 55, 99, 1);
	justify-content: space-around;
}

.nav-title {
	align-items: center;
}

.hamburgerMenu {
	display: none;
}

.links {
	font-size: 18px;
}

.links .route {
	color: #fff;
	text-decoration: none;
	padding: 13px 10px 13px 10px;
}

.links .route:hover {
	background-color: rgba(255, 235, 183, 1);
	color: black;
}

#hamburger {
	display: none;
}
