#card {
	width: 350px;
	margin-right: 40px;
	margin-bottom: 40px;
	padding: 30px 20px;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}
#card img {
	display: block;
	width: 180px;
	max-height: 200px;
	margin: 20px auto;
}

.container_buttoms {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.number {
	width: 80px;
	height: 35px;
	background-color: #ffffff;
	text-align: center;
	padding: 8px 0;
	border-radius: 30px;
	font-weight: 400;
	color: black;
	font-family: 'Times New Roman', Times, serif;
}

.destroy {
	display: flex;
	align-items: center;
	width: 80px;
	height: 35px;
	background-color: #ffffff;
	border-radius: 30px;
}
.destroy:hover {
	background-color: rgb(252, 16, 16);
}

.destroy #img_destroy {
	width: 20px;
	height: 20px;
}

.poke-name {
	text-align: center;
	font-weight: 600;
	color: black;
}
.types {
	display: flex;
	justify-content: space-around;
	margin: 20px 0 40px 0;
}

.number p,
.types span {
	font-size: 12px;
	letter-spacing: 0.4px;
	font-weight: 600;
}
.types span {
	padding: 5px 20px;
	border-radius: 20px;
	color: #ffffff;
}
