.home {
	background: rgb(36, 55, 99);
	background: linear-gradient(
		135deg,
		rgba(36, 55, 99, 1) 25%,
		rgba(255, 110, 49, 1) 50%,
		rgba(255, 235, 183, 1) 75%,
		rgba(173, 142, 112, 1) 100%
	);
}

.contain {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
}
